<table class="zebra">
<thead>
  <tr>
    <th>ID</th>
    <th>{{ i18n "staffmember" }}</th>
    <th>{{ i18n "title" }}</th>
    <th>{{ i18n "start" }}</th>
    <th>{{ i18n "description" }}</th>
    <th colspan="2">{{ i18n "actions" }}</th>
  </tr>
</thead>
<tbody>
    {{ range .Site.Data.appointments.list }}
    <tr>
      <td>{{ .id }}</td>
      <td>{{ .staffmember }}</td>
      <td>{{ .title }}</td>
      <td>{{ dateFormat "02 Jan 06 15:04 MST" .datetime }}</td>
      <td>{{ .description }}</td>
      <td><a href="{{ .pdflink }}" class="button primary">{{ i18n "print" }}</a></td>
      <td><a href="{{ .roomlink }}" class="button secondary">{{ i18n "join" }}</a></td>
      <td><a href="{{.Site.Params.APIURL}}/appointment/{{ .id }}/delete" class="button red">{{ i18n "delete" }}</a></td>
    </tr>
    {{ end }}
    </tbody>
    <tfoot>
    	<tr><td colspan="5">last update: {{ dateFormat "02 Jan 06 15:04 MST" .Site.Data.appointments.lastUpdate }}</td></tr>
    </tfoot>
</table>